<div class="column-flex" *ngIf="isDataLoaded">

<mat-card>
    <h2>Performance</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Month Column -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="20"> Month </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="20"> {{element.month}} </td>
      </ng-container>
  
      <!-- FWA Column -->
      <ng-container matColumnDef="fwa">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="16"> FWA </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="16"> {{element.fwa}} </td>
      </ng-container>

      <!-- MNP Column -->
      <ng-container matColumnDef="mnp">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="15.2"> MNP </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="15.2"> {{element.mnp}} </td>
      </ng-container>

      <!-- JMNP Column -->
      <ng-container matColumnDef="jmnp">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="15.2"> JMNP </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="15.2"> {{element.jioMnp}} </td>
      </ng-container>

      <!-- MDSO Column -->
      <ng-container matColumnDef="mdsso">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="15.2"> MDSO </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="15.2"> {{element.mdsso}} </td>
      </ng-container>

      <!-- SimBillings Column -->
      <ng-container matColumnDef="simBillings">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="16"> Sim-Billings </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="16"> {{element.simBilling}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
  
  <mat-card>
    <h2>Ranking</h2>
    <table mat-table [dataSource]="[rankingRow]" class="mat-elevation-z8">

        <ng-container *ngFor="let column of rankingDisplayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="rankingDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: rankingDisplayedColumns;"></tr>
      </table>
  </mat-card>
  
  <mat-card>
    <button mat-raised-button class="view-incentive-btn" (click)="viewIncentiveScheme()">VIEW INCENTIVE SCHEME</button>
  </mat-card>
</div>