:host {
  display: block;
  background-color: var(--mat-sys-surface-container-low);
  padding: 1rem;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin-top: 12px;
  table-layout: fixed; // Ensures columns don't expand too wide
}

th, td {
  padding: 10px 8px;
  text-align: left;
  border-bottom: 1px solid var(--mat-sys-surface-variant);
  word-wrap: break-word;
}

th {
  font-size: 12px; // Smaller header font
  font-weight: 500;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary-container);
}

td {
  font-size: 20px; // Bigger and clearer number font
  font-weight: 500;
  color: #222;
}

mat-card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--mat-sys-surface);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

h2 {
  margin-bottom: 10px;
  color: var(--mat-sys-primary-container);
  font-weight: 600;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

button.view-incentive-btn {
  background-color: #FF0000; // Airtel red
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #cc0000; // Slightly darker red on hover
    transform: translateY(-1px); // Subtle lift effect
  }

  &:active {
    background-color: #b30000; // Pressed effect
    transform: translateY(0); // Reset on click
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 18px;
  }
}


/* Optional: Responsive tweak to make the table more flexible */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th {
    font-size: 8px;
  }

  td {
    font-size: 15px;
  }
}
